# Documentation: Data Merge

Given the large file sizes of the PSP and CPMC datasets, we gained access to one of CMU's virtual machine so we have more computational memory to run and manipulate these files.

### PSP & MDJ Datasets

1. Given the large file size of PSP, we had to drop columns with over 90% missing values to decrease the file size to allow complete uploading. These columns included:
['death_yeardeath_month', 'death_day', 'sor_status', 'release_year', 'release_month', 'release_day', 'inchoate_charge', 'final_charge', 'consec_charge', 'disp3', 'disp4', 'disp5', 'disp6', 'disp7', 'disp8', 'disp9', 'disp10', 'min_sent_year', 'max_sent_year']

2. Similarly, we also dropped columns with over 90% missing values in MDJ. These columns included:
['defendantcounty', 'fine', 'fineadjustment', 'restitution', 'restitutionadjustment', 'sentencingjudge', 'penaltyeventtype', 'programtype', 'programperiod', 'startdate', 'enddate', 'facilitylocation']

Necessary columns can be added back in during the EDA phase as needed. This step is to bypass the datasets not loading.

3. We identified shared columns between the two datasets: ['dob', 'ori', 'otn', 'grade', 'race', 'id']

We decided to merge on OTN then ID because in both datasets, OTN (Offense Tracking Number) identifies a specific criminal case or charge, while ID identifies the individual. Merging on both ensures that we only match the same case and person, not just anyone with a similar OTN, preventing false matches where two people might coincidentally share the same OTN or one person has multiple OTNs.

4. After converting the OTN column to the same data type (string), we did an inner join on OTN and ID. See below:
mdj_full = pd.merge(mdj, psp, on=['otn','id'], how='inner')

In [ ]:
import pandas as pd
import numpy as np

In [2]:
psp = pd.read_csv('CMU PSP Data.csv')
psp.head()

C:\Users\aakang\AppData\Local\Temp\4\ipykernel_2404\3942618725.py:1: DtypeWarning: Columns (41,42,43,44,45,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  psp = pd.read_csv('CMU PSP Data.csv')

,dobyear,dobmonth,dobday,name,sex,race,rapstatus,max_year,max_month,max_day,...,offense_year,offense_month,offense_day,offense_date,disp_date,ofn_title,ofn_section,ofn_subsection,citation,id
0,1946,8,14,ALLEN EARNEST WAYNE,M,W,A,2012.0,6.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99595981
1,1946,8,14,ALLEN EARNEST WAYNE,M,W,A,2012.0,6.0,29.0,...,NaN,NaN,NaN,NaN,NaN,18,5503,NaN,18-5503,99595981
2,1946,8,14,ALLEN EARNEST WAYNE,M,W,A,2012.0,6.0,29.0,...,2007.0,6.0,29.0,29jun2007,NaN,75,3802,(c),75-3802 (c),99595981
3,1946,8,14,ALLEN EARNEST WAYNE,M,W,A,2012.0,6.0,29.0,...,2015.0,5.0,13.0,13may2015,29sep2016,75,3802,(d)(2),75-3802 (d)(2),99595981
4,1946,8,14,ALLEN EARNEST WAYNE,M,W,A,2012.0,6.0,29.0,...,2015.0,5.0,13.0,13may2015,NaN,75,3802,(d)(1),75-3802 (d)(1),99595981

In [3]:
mdj = pd.read_csv('CMU AOPC MDJ Filings 2015-2018.csv')
mdj.head()

C:\Users\aakang\AppData\Local\Temp\4\ipykernel_2404\1461785921.py:1: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  mdj = pd.read_csv('CMU AOPC MDJ Filings 2015-2018.csv')

,docketnumber,citationcomplaintnumber,otn,citytownboro,countyofoffense,casestatus,filingdate,offensedate,complaintdate,arrestdate,...,startdate,enddate,facilitylocation,limitedaccessoffenseindicator,casedisposition,casecategory,zipcode,defenseattorneyname,defenseattorneyrepresentationtyp,id
0,MJ-12204-CR-0000333-2017,17 0812 023 002,X1195143,Harrisburg City,Dauphin,Closed,2017-08-12 15:46:00,2017-08-12,2017-08-12 15:46:00,2017-08-12 00:00:00,...,NaN,NaN,NaN,0,Waived for Court,Court Case,17103.0,"Burden, Colleen Lillian",Public Defender,99615513
1,MJ-12204-CR-0000333-2017,17 0812 023 002,X1195143,Harrisburg City,Dauphin,Closed,2017-08-12 15:46:00,2017-08-12,2017-08-12 15:46:00,2017-08-12 00:00:00,...,NaN,NaN,NaN,1,Waived for Court,Court Case,17103.0,"Burden, Colleen Lillian",Public Defender,99615513
2,MJ-12204-CR-0000333-2017,17 0812 023 002,X1195143,Harrisburg City,Dauphin,Closed,2017-08-12 15:46:00,2017-08-12,2017-08-12 15:46:00,2017-08-12 00:00:00,...,NaN,NaN,NaN,1,Waived for Court,Court Case,17103.0,"Burden, Colleen Lillian",Public Defender,99615513
3,MJ-21304-CR-0000245-2017,C17001356,U5355851,Pine Grove Borough,Schuylkill,Closed,2017-12-16 19:08:00,2017-12-16,2017-12-16 19:08:00,2017-12-16 00:00:00,...,NaN,NaN,NaN,1,Held for Court,Court Case,17963.0,"McDonald, Lora J.",Public Defender,99591768
4,MJ-21304-CR-0000245-2017,C17001356,U5355851,Pine Grove Borough,Schuylkill,Closed,2017-12-16 19:08:00,2017-12-16,2017-12-16 19:08:00,2017-12-16 00:00:00,...,NaN,NaN,NaN,1,Held for Court,Court Case,17963.0,"McDonald, Lora J.",Public Defender,99591768

In [6]:
# drop columns with more than 90% missing values
cols_to_drop = ['death_yeardeath_month', 'death_day', 'sor_status', 'release_year', 'release_month', 'release_day', 'inchoate_charge', 'final_charge', 'consec_charge', 'disp3', 'disp4', 'disp5', 'disp6', 'disp7', 'disp8', 'disp9', 'disp10', 'min_sent_year', 'max_sent_year', 'defendantcounty', 'fine', 'fineadjustment', 'restitution', 'restitutionadjustment', 'sentencingjudge', 'penaltyeventtype', 'programtype', 'programperiod', 'startdate', 'enddate', 'facilitylocation']
psp = psp.drop(columns=cols_to_drop, errors='ignore')
mdj = mdj.drop(columns=cols_to_drop, errors='ignore')

In [8]:
# confirm shapes
print(psp.shape)
print(mdj.shape)

(12753994, 41)
(2189279, 32)

In [9]:
# shared columns
shared_cols = list(set(psp.columns) & set(mdj.columns))
print(shared_cols)

['dob', 'ori', 'otn', 'grade', 'race', 'id']

In [10]:
# missing values
print(psp['otn'].isnull().sum())
print(psp['id'].isnull().sum())
print(mdj['otn'].isnull().sum())
print(mdj['id'].isnull().sum())

0
0
14
0

In [26]:
# ensure consistent types
mdj['otn'] = mdj['otn'].astype(str)
psp['otn'] = psp['otn'].astype(str)

In [28]:
# common otn & id pairs
mdj_pairs = set(mdj[['otn','id']].itertuples(index=False, name=None))
psp_pairs = set(psp[['otn','id']].itertuples(index=False, name=None))
common_pairs = mdj_pairs & psp_pairs

In [31]:
# sort in order & create 10 subsets
common_pairs_df = pd.DataFrame(list(common_pairs), columns=['otn','id'])   # convert from set to list
common_pairs_df = common_pairs_df.sort_values(['otn','id']).reset_index(drop=True)

In [32]:
# 10 chunks
chunks = np.array_split(common_pairs_df, 10)
for i, chunk in enumerate(chunks, 1):
    start = chunk.iloc[0].to_dict() 
    end = chunk.iloc[-1].to_dict()   
    print(f"Chunk {i}: start {start}, end {end}, size {len(chunk)}")

Chunk 1: start {'otn': 'B2218123', 'id': 99692323}, end {'otn': 'G7710426', 'id': 99900705}, size 43423
Chunk 2: start {'otn': 'G7710430', 'id': 99745018}, end {'otn': 'L9216491', 'id': 99751802}, size 43423
Chunk 3: start {'otn': 'L9216502', 'id': 99823864}, end {'otn': 'T6616540', 'id': 99695410}, size 43422
Chunk 4: start {'otn': 'T6616595', 'id': 99750571}, end {'otn': 'T8090176', 'id': 99685978}, size 43422
Chunk 5: start {'otn': 'T8090202', 'id': 99902456}, end {'otn': 'T9227864', 'id': 99747064}, size 43422
Chunk 6: start {'otn': 'T9227875', 'id': 99631365}, end {'otn': 'U5459230', 'id': 99725126}, size 43422
Chunk 7: start {'otn': 'U5459263', 'id': 99707346}, end {'otn': 'U6437163', 'id': 99737990}, size 43422
Chunk 8: start {'otn': 'U6437200', 'id': 99603232}, end {'otn': 'X0747084', 'id': 99945607}, size 43422
Chunk 9: start {'otn': 'X0747095', 'id': 99938175}, end {'otn': 'X1506901', 'id': 99649673}, size 43422
Chunk 10: start {'otn': 'X1506934', 'id': 99963623}, end {'otn': 'Z1763370', 'id': 99904288}, size 43422

C:\ProgramData\anaconda3\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [33]:
# subset 3 merge
subset_chunk = chunks[3]

mdj_filtered = mdj.set_index(['otn','id']).loc[subset_chunk.set_index(['otn','id']).index].reset_index()
psp_filtered = psp.set_index(['otn','id']).loc[subset_chunk.set_index(['otn','id']).index].reset_index()

print(mdj_filtered.shape)
print(psp_filtered.shape)

(209530, 32)
(242140, 41)

In [34]:
mdj3 = mdj_filtered.merge(psp_filtered, on=['otn','id'], how='inner')
print(mdj3.shape)

(2028033, 71)

In [36]:
# attempting the full merge 
mdj_full = pd.merge(mdj, psp, on=['otn','id'], how='inner')
print(mdj_full.shape)

(15995064, 71)

In [37]:
mdj_full.to_csv('mdj_merged.csv', index=False)